<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="beer.imageUrl" alt="Card image cap">
    <div class="card-body">
        <h3 class="card-title">{{beer.name}}</h3>
        <ul>
            <li><strong>Birrificio:</strong> {{beer.breweryName}}</li>
            <li><strong>Tipo:</strong> {{beer.type}}</li>
            <li><strong>Grado alcolico:</strong> {{beer.alcoholPercentage}}%</li>
            <li><strong>Valutazione Media:</strong> {{beer.averageRating}}</li>
        </ul>
        <button (click)="onSelectCard(beer)">Vedi dettagli</button>
    </div>
</div>
