<nav class="navbar navbar-expand-lg">
    <div class="container-fluid bg-dark text-white py-4">
        <img src="brewverselogopng.png" alt="Logo Brewverse" class="me-2" style="height: 60px;">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">BREWVERSE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Vetrina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search-beer" routerLinkActive="active">Cerca Birra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user-reviews/:id" routerLinkActive="active" (click)="onClick(userId)" >Le tue Recensioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contest" routerLinkActive="active">Concorso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/game" routerLinkActive="active">Uwufufu</a>
                </li>
                @if (!isLoggedIn) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Accedi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register" routerLinkActive="active">Registrati</a>
                    </li>
                } 
                @else {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="logout()">Benvenutæ {{userName}}, Disconnettiti</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
