<footer class="bg-dark text-white py-5">
    <div class="container">
      <div class="row mb-3">
        <div class="col text-center">
          <img src="brewverselogopng.png" alt="Logo Brewverse" class="me-2" style="height: 60px;">
          <h5 class="fw-bold">BREWVERSE</h5>
          <p class="small">Scopri il mondo delle birre artigianali Italiane!</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col text-center">
          <p class="mb-0">
            <strong>Team: </strong> 
            <a href="http://www.linkedin.com/in/alessandro-massa-55ba61244/" target="_blank" class="text-white text-decoration-underline">Alessandro Massa</a>, 
            <a href="http://www.linkedin.com/in/carlotta-michela-pisano-239155223/" target="_blank" class="text-white text-decoration-underline">Carlotta Pisano</a>, 
            <a href="http://www.linkedin.com/in/eleonora-siciliano-6a48a7178/" target="_blank" class="text-white text-decoration-underline">Eleonora Siciliano</a>, 
            <a href="http://www.linkedin.com/in/lucrezia-lauri-906703220/" target="_blank" class="text-white text-decoration-underline">Lucrezia Lauri</a>, 
            <a href="http://www.linkedin.com/in/falconettimarco" target="_blank" class="text-white text-decoration-underline">Marco Falconetti</a>, 
            <a href="http://www.linkedin.com/in/stefano-puro-036949232/" target="_blank" class="text-white text-decoration-underline">Stefano Puro</a>
          </p>
        </div>
      </div>
  
      <div class="row">
        <div class="col text-center">
          <p class="small mb-0">&copy; 2025 Brewverse. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  