<div class="beer-form">
  <h1 class="title">Seleziona i parametri della birra</h1>
  <form [formGroup]="beerForm" (ngSubmit)="onSubmit($event)" class="styled-form">
    <div class="form-group">
      <label for="name">Nome della Birra:</label>
      <input type="text" id="name" formControlName="name" placeholder="Inserisci il nome della birra" />
    </div>

    <div class="form-group">
      <label for="breweryName">Nome del Birrificio:</label>
      <input type="text" id="birrificio" formControlName="breweryName" placeholder="Inserisci il nome del birrificio" />
    </div>

    <div class="form-group">
      <label for="type">Stile della Birra:</label>
      <select id="type" formControlName="type">
        <option value="">Tutti</option>
      </select>
    </div>

    <div class="form-group">
      <label for="alcoholRange">Gradazione Alcolica (%):</label>
      <select id="alcoholRange" formControlName="alcoholRange" #alcoholRange>
        <option value="">Tutte</option>
        <option value="low">0-5%</option>
        <option value="medium">5-8%</option>
        <option value="high">Più di 8%</option>
      </select>
    </div>

    <div class="form-group">
      <label for="ratingRange">Valutazione Media:</label>
      <select id="ratingRange" formControlName="ratingRange" #ratingRange>
        <option value="">Tutte</option>
        <option value="4">4 stelle e più</option>
        <option value="5">5 stelle</option>
      </select>
    </div>

    <button class="submit-button">Cerca</button>
  </form>
</div>

<div class="beer-results">
  @if (beers.length > 0) {
    @for (beer of beers; track beer.id) {
      <app-beer-card [beer]="beer"></app-beer-card>
    }
  }
</div>

<div class="no-results">
  @if (beers.length === 0 && searchExecuted) {
    <h2>Nessuna birra trovata con i parametri selezionati.</h2>
  }
</div>

<div class="pagination-buttons">
  @if (pageNumber > 0) {
    <button class="pagination-button" (click)="goToPreviousPage()">Pagina precedente</button>
  }
  @if (pageNumber >= 0) {
    <button class="pagination-button" (click)="goToNextPage()">Prossima pagina</button>
  }
</div>
