<div class="container">
    <h1>Crea, Aggiorna o Elimina una Birra</h1>
    <button (click)="onClick(beer.id)">Crea una recensione</button>
    @if (isAdmin) {
        <button (click)="onEdit(beer.id)">Aggiorna prodotto</button>
        <button (click)="onDelete(beer.id)">Elimina prodotto</button>
    }
    <section>
        <div class="card-container">
            <div class="card">
                <img class="card-img-top" [src]="beer.imageUrl" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{beer.name}}</h3>
                    <ul>
                        <li><strong>Birrificio:</strong> {{beer.breweryName}}</li>
                        <li><strong>Tipo:</strong> {{beer.type}}</li>
                        <li><strong>Grado alcolico:</strong> {{beer.alcoholPercentage}}%</li>
                        <li><strong>Valutazione Media:</strong> {{beer.averageRating}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
@if (beer) {
}
<div>
    <h2>Recensioni:</h2>
    @if(reviews) {
    <p-carousel [value]="reviews" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions" [circular]="true">
        <ng-template pTemplate="review" let-review>
            <app-review-card [review]="review"></app-review-card>
        </ng-template>
    </p-carousel>

    }
</div>