@if (beer) {
<section>
    <div id="title">
        <h1>{{beer.name}}</h1>
        <img src="{{beer.imageUrl}}" alt="immagine della birra: {{beer.name}}">
    </div>
    <div>
        <ul>
            <li> Tipo: {{beer.type}} </li>
            <li> Percentuale Alcolica: {{beer.alcoholPercentage}} </li>
            <li> Rating medio: {{beer.averageRating}} </li>
            <!-- prendere il birrificio per id per stampare il nome in base al beer id -->
            <!-- <li> {{beer.brewery.name}} </li>  -->
        </ul>
    </div>
</section>
}
<div>
    <button (click)="onClick(beer.id)">Crea una recensione</button>
    <button (click)="onEdit(beer.id)">Aggiorna prodotto</button>
    <button (click)="onDelete(beer.id)">Elimina prodotto</button>
</div>
<div>
    <h2>Recensioni:</h2>
    @if(reviews) {
        <p-carousel [value]="reviews" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions" [circular]="true">
            <ng-template pTemplate = "review" let-review >
              <app-review-card [review]="review"></app-review-card>
            </ng-template>
          </p-carousel>
          
    }
</div>