<section>
    <form (ngSubmit) = "onSubmit()" [formGroup]="loginForm">
        <div id="title">
            <h1>Accedi</h1>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
        </div>
        <div>
            <button>Login</button>
        </div>
    </form>
    <div id="registerLink">
        <a routerLink="/register">Non hai un account? Registrati!</a>
    </div>
</section>
