section {
    min-height: 600px;
    background-color: rgb(255, 249, 241);
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 186, 144);
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    animation: starting 1s ease-out;
}
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: starting 1s ease-out;
}

app-beer-mini-card {
    animation: forCards 1s ease-out;
}

@keyframes starting {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes forCards {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}