section {
    min-height: 600px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    animation: starting 1s ease-out;
}
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: starting 1s ease-out;
}

app-beer-mini-card {
    animation: forCards 1s ease-out;
}

@keyframes starting {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes forCards {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2dcb4;
}