.hints-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 70px;
  margin-bottom: 100px;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  perspective: 1000px; 
}

.container2 {
  margin-top: 55px;
}

.hint-card {
  width: 280px;
  height: 380px; 
  position: relative;
  transform-style: preserve-3d; 
  transition: transform 0.6s ease-in-out; 
  cursor: pointer;
}


.hint-card .front, 
.hint-card .back {
  font-family: 'Times New Roman', serif;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  font-size: 1.5rem;
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* Centra il testo all'interno */
}


.hint-card .front {
  background-image: url('https://i.pinimg.com/736x/8f/e0/b7/8fe0b71e8264ea944a540d7990935f83.jpg');
  background-size: cover; 
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px; 
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.hint-card .back {
  background-image: url('https://i.pinimg.com/736x/8f/e0/b7/8fe0b71e8264ea944a540d7990935f83.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(44, 43, 43);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.hint-card .back h4 {
  font-size: 1.4rem;
}

.hint-card.flipped {
  transform: rotateY(180deg);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
  gap: 17px; 
  margin-top: 60px;
  padding: 25px; 
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); 
  width: 110%;
  margin-left: -5%;
}


.beer-card {
  background: linear-gradient(145deg, #fff5e1, #e6e1c5);
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  height: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: space-between; 
  border: 2px solid #d4b27e; 
}


.beer-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}


.beer-image {
  width: 100%;
  background-color: white;
  height: 220px; 
  object-fit: contain; 
  border-bottom: 2px solid rgba(247, 201, 123, 0.5);
}

.beer-info {
  padding: 10px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background: linear-gradient(145deg, #fef7d4, #eec87e); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.beer-info h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem; 
  margin: 0;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-top: 35px
}

.beer-info p {
  font-size: 1rem;
  color: #777;
  margin-top: 10px;
  line-height: 1.5;
}
.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
  margin-bottom: 30px; 
  padding: 0 20px; 
  flex-shrink: 0; 
}
.button-container button {
  background: linear-gradient(145deg, #f0e6d2, #d4b27e);
  color: #3e2a47; 
  border: 2px solid #b67c4e;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.button-container button:hover {
  background: linear-gradient(145deg, #d4b27e, #c1a17b); 
  color: #3e2a47; 
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}

.button-container button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(244, 163, 91, 0.5);
}

.button-container button:active {
  background: linear-gradient(145deg, #b67c4e, #d4b27e); 
  transform: translateY(2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.vote.button{
  margin-top: 10px;
}

.beer-card .vote {
  background: linear-gradient(145deg, #f0e6d2, #d4b27e);
  color: #3e2a47;
  border: 2px solid #b67c4e;
  padding: 10px 20px; 
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: 110px; 
  max-width: 100%; 
}


.beer-card .vote:hover {
  background: linear-gradient(145deg, #d4b27e, #c1a17b); 
  color: #3e2a47;
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}


.beer-card .vote:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(244, 163, 91, 0.5); 
}


.beer-card .vote:active {
  background: linear-gradient(145deg, #b67c4e, #d4b27e); 
  transform: translateY(2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


:host {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #f2dcb4, #f0ac26);
  color: #212529;
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  padding-bottom: 60px;
}

a:hover {
  color: #f4a300; 
}

/* Titolo*/
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5rem; 
  margin-bottom: 20px; 
  text-align: center; 
  letter-spacing: 1px; 
}
h3 {
  font-size: 2rem; 
  margin-bottom: 20px; 
  color: #333;
  text-align: center;
  font-weight: 700; 
  letter-spacing: 1px;
}
p {
  font-size: 1.2rem; 
  color: #333; 
  line-height: 1.6; 
  margin-bottom: 20px; 
  text-align: center; 
  font-weight: normal; 
  letter-spacing: 0.5px; 
}
.result-message {
  background: linear-gradient(145deg, #fff7d6, #e5cb91); 
  border: 2px solid #d3b992;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  max-width: 600px;
}

.result-message h3 {
  font-family: 'Georgia', serif;
  color: #8b5e3c;
  font-size: 2rem;
  margin-bottom: 10px;
}

.result-message p {
  font-size: 1.2rem;
  color: #5f4b3a;
}



