:host  {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #f2dcb4, #f0ac26);
    color: #212529;
    display: flex; /* Imposta il contenitore come flessibile */
    flex-direction: column; /* Direzione verticale */
    min-height: 100vh; /* Assicura che il body occupi l'intera altezza della finestra */
    padding-bottom: 60px; /* Aggiungi spazio extra per evitare che il bottone sia coperto dal footer */
  }
  
  .btn-primary {
    background-color: #f4a300;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #794306; /* Giallo scuro per hover */
  }
  
  .btn-success {
    background-color: #f4a300;
  }
  
  .btn-success:hover {
    background-color: #794306; 
  }
  
  /* Form */
  input[type="file"] {
    border: 2px solid #4b2f1e;
    padding: 10px;
    background-color: #fff;
  }
  
  input[type="file"]:hover {
    border-color: #f4a300;
  }
  .btn-custom {
    background-color: #f4a300; /* Colore oro personalizzato */
    color: white;
    border: none;
  }
  
  .btn-custom:hover {
    background-color: #d57e1d; /* Colore più scuro al passaggio del mouse */
  }
  
.rating{
    display: inline-block;
}
.rating input{
    display: none;
}
.rating label{
    float: right;
    cursor: pointer;
    color: 333;
}
.rating label:before{
    content: '\2605';
    font-size: 50px;
}

.rating input:checked label{
    color: #d57e1d;
}