<section id="reviews-section" class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h3>Aggiorna la tua recensione</h3>
            <form id="review-form" [formGroup]="updateForm">
                <div class="form-group">
                </div>

                <div class="form-group">
                    <label for="review-text">Scrivi una recensione:</label>
                    <textarea class="form-control" id="review-text" name="review-text" rows="4" required
                        formControlName="description"></textarea>
                </div>

                <div class="form-group">
                    <p>Valutazione:</p>
                    <form id="review-form" [formGroup]="updateForm">
                        <p-rating formControlName="rating" [stars]="5" class="custom-rating"/>
                    </form>
                    <button (click)="onSubmit()" class="btn btn-primary">Aggiorna la recensione</button>
                </div>
            </form>
        </div>
    </div>
</section>