<div>
    <h2>{{action}} birra</h2>
    <form (ngSubmit)="doAction()" [formGroup]="updateForm">
        <div>
            <label for="name">Nome:</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
            <label for="type">Tipo:</label>
            <input type="text" id="type" formControlName="type">
        </div>
      <div>
            <label for="imageUrl">Indirizzo Immagine :</label>
            <input type="text" id="imageUrl" formControlName="imageUrl">
        </div>
        <div class="form-group">
            <label for="alcoholPercentage">Gradazione Alcolica (%):</label>
          <input type="text" id="alcoholPercentage" formControlName="alcoholPercentage">
          </div>

          <div class="form-group">
            <label for="breweries">Birrificio:</label>
            <select id="breweries" formControlName="breweryId">
              <option value="" disabled selected>Seleziona una Birrificio</option> 
              @for (brewery of breweries; track brewery) {
                <option value="{{ brewery.id }}">{{ brewery.name }}</option>
              }
            </select>
          </div>

        <div>
            <button>{{action}}</button>
        </div>
</form>
</div>