:host {
  font-family: 'Roboto', sans-serif;
  background-color: #f2dcb4;
  color: #212529;
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 

  background-size: cover; /* Adatta l'immagine per coprire l'intero schermo */
  background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
  background-position: center; /* Centra l'immagine */
  margin: 0; /* Rimuovi margini */
  padding: 0; /* Rimuovi padding */
}
.beer-results {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px; 
  margin: 20px; 
  padding: 20px; 
  background-color: #f2dcb4; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
  margin-top: 60px;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
}
p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.styled-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
  background: #f2dcb4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s;
  background-color: #fff;
  color: #000;
}

input:focus,
select:focus {
  border: 1px solid #f4a300;
}

.submit-button {
  background-color: #f4a300;
  color: white;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #f4a300;
}
