<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="beerReview.bdto.imageUrl" alt="Card image cap">
    <div class="card-body">
        <h3 class="card-title">{{beerReview.bdto.name}}</h3>
        <ul>
            <li><strong>Tipo:</strong> {{beerReview.bdto.type}}</li>
            <li><strong>Grado alcolico:</strong> {{beerReview.bdto.alcoholPercentage}}%</li>
            <li><strong>Valutazione:</strong> {{beerReview.rdto.rating}}</li>
            <li><strong>Descrizione:</strong> {{beerReview.rdto.description}}</li>
        </ul>
        <button (click)="onEdit(beerReview.rdto.beerId)">Modifica Recensione</button>
        <button class="cancella" (click)="onDelete(beerReview.rdto.id)">Cancella Recensione</button>
    </div>
</div>
