<div id="card-beer-review">
    <img class="card-beer-review-img" [src]="beerReview.bdto.imageUrl" alt="Beer Review Image">
    <div class="card-beer-review-body">
        <ul>
            <li>Nome:{{beerReview.bdto.name}}</li>
            <li>Tipo:{{beerReview.bdto.type}}</li>
            <li>AlcolRange:{{beerReview.bdto.alcoholPercentage}}</li>
            <li>Rating:{{beerReview.rdto.rating}}</li>
            <li>Description:{{beerReview.rdto.description}}</li>
        </ul>
    </div>
</div>