:host {
    font-family: 'Roboto', sans-serif;
    background-color: #f2dcb4;
    color: #212529;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
  }

  h2 {
    margin-top: 60px;
    font-size: 3rem; 
    margin-bottom: 20px; 
    text-align: center; 
    letter-spacing: 1px; 
  }
  
  p {
    font-size: 1.2rem; 
    color: #333; 
    line-height: 1.6; 
    margin-bottom: 20px; 
    text-align: center; 
    font-weight: normal; 
    letter-spacing: 0.5px; 
  }

p-carousel {
    display: block;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    background: #f2dcb4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  p-carousel .ui-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p-carousel .ui-carousel-prev,
  p-carousel .ui-carousel-next {
    background-color: #f4a300;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  p-carousel .ui-carousel-prev:hover,
  p-carousel .ui-carousel-next:hover {
    background-color: #f4a300;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    p-carousel .ui-carousel-prev,
    p-carousel .ui-carousel-next {
      display: none;
    }
  }

p-carousel .ui-carousel-content {
    padding: 10px;
  }
  
  p-carousel .ui-carousel-indicators .ui-carousel-indicator {
    background-color: #f4a300;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  p-carousel .ui-carousel-indicators .ui-carousel-indicator.ui-state-highlight {
    background-color: #f4a300;
    transform: scale(1.2);
  }

  p-carousel .ui-carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }