<div class="title"><h1>Le birre del mese</h1></div>
<div class='container'>
    @for (beer of beers; track $index) {
    <div class="card" style="width: 18rem;">
      <div class="card-img-top" [ngStyle]="{'background-image': 'url(' + beer.imageUrl + ')'}"></div>
      <div class="card-body">
        <h3 class="card-title">{{beer.name}}</h3>
        <ul>
            <li>Grado alcolico: {{beer.alcoholPercentage}}%</li>
            <li>Tipo: {{beer.type}}</li>
        </ul>
      </div>
    </div>
    }
</div>
