.card{
    max-width: 120px;
    min-height: 200px;
    max-height: 200px;
    margin: 10px;
    margin-inline: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 1s ease;
    background: linear-gradient(145deg, #fff5e1, #e6e1c5); 
}
.card-img-top{
    width: 100%;
    height: auto; 
    min-height: 120px;
    max-height: 120px; 
    object-fit: cover; 
    border-bottom: 2px solid #ddd; 
    display: block; 

}
.card-body{
    padding: 10px;
}