<section>
    <form (ngSubmit) = "onSubmit()" [formGroup]="registerForm">
        <div id="title">
            <h1>Register</h1>
        </div>
        <div>
            <label for="firstname">Nome:</label>
            <input type="firstname" id="firstname" formControlName="firstname">
        </div>
        <div>
            <label for="lastname">Cognome:</label>
            <input type="lastname" id="lastname" formControlName="lastname">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
        </div>
        <div>
            <button>Registrati</button>
        </div>
    </form>
    <div id="registerLink">
        <a routerLink="/login">Hai gia un account? Accedi!</a>
    </div>
</section>


